{
    "swagger": "2.0",
    "info": {
        "title": "Shop Api",
        "version": "1.0.0"
    },
    "host": "shop.loc",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "paths": {
        "/categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Get list of categories with relations",
                "parameters": [
                    {
                        "name": "X-Requested-With",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "XMLHttpRequest"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "object",
                            "allOf": [
                                {
                                    "$ref": "#/definitions/Category"
                                },
                                {
                                    "properties": {
                                        "categories_recursive": {
                                            "description": "Array of subcategories",
                                            "type": "array",
                                            "items": {}
                                        }
                                    },
                                    "type": "object"
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "Unauthorized user"
                    }
                }
            },
            "post": {
                "tags": [
                    "Categories"
                ],
                "summary": "Create category",
                "operationId": "createCategory",
                "parameters": [
                    {
                        "name": "X-Requested-With",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "XMLHttpRequest"
                    },
                    {
                        "name": "title",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "parent_id",
                        "in": "formData",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Category"
                        }
                    },
                    "401": {
                        "description": "Unauthorized user"
                    },
                    "422": {
                        "description": "Unprocessable Entity"
                    }
                }
            }
        },
        "/categories/{category}": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Get category by id with relations",
                "description": "Get category by id",
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "description": "Category id",
                        "required": true,
                        "type": "integer",
                        "minimum": 1
                    },
                    {
                        "name": "X-Requested-With",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "XMLHttpRequest"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "object",
                            "allOf": [
                                {
                                    "$ref": "#/definitions/Category"
                                },
                                {
                                    "properties": {
                                        "categories_recursive": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    },
                                    "type": "object"
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "Unauthorized user"
                    },
                    "404": {
                        "description": "Category is not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Categories"
                ],
                "summary": "Update category",
                "operationId": "updateCategory",
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "description": "ID of category",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "title",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "Need to validate",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "description",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "parent_id",
                        "in": "formData",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized user"
                    },
                    "404": {
                        "description": "Category is not found"
                    },
                    "422": {
                        "description": "Unprocessable Entity"
                    }
                }
            }
        },
        "/categories/{id}": {
            "delete": {
                "tags": [
                    "Categories"
                ],
                "summary": "Remove category",
                "operationId": "deleteCategory",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id number of category",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "404": {
                        "description": "Category is not found"
                    }
                }
            }
        },
        "/all-categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Get all categories",
                "description": "Get categories",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Category"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user"
                    },
                    "404": {
                        "description": "Post is not found"
                    }
                }
            }
        },
        "/products": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Get list of products with images and pagination",
                "parameters": [
                    {
                        "name": "pagination",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "minimum": 1
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "minimum": 1
                    },
                    {
                        "name": "currency_type",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "usd",
                            "eur",
                            "uah"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "current_page": {
                                    "type": "integer"
                                },
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "allOf": [
                                            {
                                                "$ref": "#/definitions/Product"
                                            },
                                            {
                                                "properties": {
                                                    "product_images": {
                                                        "type": "array",
                                                        "items": {
                                                            "$ref": "#/definitions/ProductImage"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        ]
                                    }
                                },
                                "first_page_url": {
                                    "type": "string"
                                },
                                "from": {
                                    "type": "integer"
                                },
                                "last_page": {
                                    "type": "integer"
                                },
                                "last_page_url": {
                                    "type": "string"
                                },
                                "next_page_url": {
                                    "type": "string"
                                },
                                "path": {
                                    "type": "string"
                                },
                                "per_page": {
                                    "type": "integer"
                                },
                                "prev_page_url": {
                                    "type": "string"
                                },
                                "to": {
                                    "type": "integer"
                                },
                                "total": {
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized user"
                    }
                }
            },
            "post": {
                "tags": [
                    "Products"
                ],
                "summary": "Create product",
                "operationId": "createProduct",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "price",
                        "in": "formData",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "currency",
                        "in": "formData",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "usd",
                            "eur",
                            "uah"
                        ]
                    },
                    {
                        "name": "images[0]",
                        "in": "formData",
                        "description": "request can attempt array images[i]:{file} /mimes:jpeg,bmp,png/max size:2Mb",
                        "required": false,
                        "type": "file"
                    },
                    {
                        "name": "images[1]",
                        "in": "formData",
                        "description": "this example additing more images",
                        "required": false,
                        "type": "file"
                    },
                    {
                        "name": "categories[0]",
                        "in": "formData",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Product"
                        }
                    },
                    "401": {
                        "description": "Unauthorized user"
                    },
                    "422": {
                        "description": "Unprocessable Entity"
                    }
                }
            }
        },
        "/products/{product}": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Get list of products with images and pagination",
                "parameters": [
                    {
                        "name": "product",
                        "in": "path",
                        "description": "Product ID",
                        "required": true,
                        "type": "integer",
                        "minimum": 1
                    },
                    {
                        "name": "currency_type",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "usd",
                            "eur",
                            "uah"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "object",
                            "allOf": [
                                {
                                    "$ref": "#/definitions/Product"
                                },
                                {
                                    "properties": {
                                        "categories": {
                                            "type": "array",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/definitions/Category"
                                                    },
                                                    {
                                                        "properties": {
                                                            "pivot": {
                                                                "properties": {
                                                                    "product_id": {
                                                                        "type": "integer"
                                                                    },
                                                                    "category_id": {
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                ]
                                            }
                                        },
                                        "product_images": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/ProductImage"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "Unauthorized user"
                    }
                }
            },
            "put": {
                "tags": [
                    "Products"
                ],
                "summary": "Update product",
                "operationId": "updateProduct",
                "parameters": [
                    {
                        "name": "product",
                        "in": "path",
                        "description": "ID of product",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "Need to validate for update",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "price",
                        "in": "formData",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "currency",
                        "in": "formData",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "usd",
                            "eur",
                            "uah"
                        ]
                    },
                    {
                        "name": "categories[0]",
                        "in": "formData",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Product"
                        }
                    },
                    "401": {
                        "description": "Unauthorized user"
                    },
                    "404": {
                        "description": "Product is not found"
                    },
                    "422": {
                        "description": "Unprocessable Entity"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Products"
                ],
                "summary": "Remove product",
                "operationId": "deleteProduct",
                "parameters": [
                    {
                        "name": "product",
                        "in": "path",
                        "description": "id number of product",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "404": {
                        "description": "Product is not found"
                    }
                }
            }
        }
    },
    "definitions": {
        "Category": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "title": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "parent_id": {
                    "type": "integer"
                },
                "create_at": {
                    "type": "string"
                },
                "update_at": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Product": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "price": {
                    "type": "number"
                },
                "currency": {
                    "type": "string"
                },
                "create_at": {
                    "type": "string"
                },
                "update_at": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ProductImage": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "link_to_file": {
                    "type": "string"
                },
                "link_to_thumb": {
                    "type": "string"
                },
                "create_at": {
                    "type": "string"
                },
                "update_at": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    }
}